Hello {{ user.username }},
<p>
Thank you for submitting your email address in Callisto.
</p>
<p>
Please click this confirmation link to verify your identity and continue the submission process.
<br/>
http://{{ domain }}{{ redirect_url }}
</p>
<p>
If you did not submit your email address to Callisto, or believe this message was received in error, please disregard.
</p>
<p>
If you have any questions please contact us at support@projectcallisto.org</a>.
<p>
Thank you, and take care,
The Callisto Team
{{ domain }}
</p>
