django>=1.9.6
django-formtools
django_polymorphic==0.9.2
django-ratelimit==0.6.0
git+https://github.com/SexualHealthInnovations/django-wizard-builder.git#egg=wizard_builder

PyNaCl==1.0.1
python-gnupg==0.3.8

bugsnag
environ
psycopg2=2.6.1
pytz==2016.4
reportlab==3.3.0
zxcvbn-py3
