<p>
Earlier this year, Upright Citizens Brigade began partnering with Callisto to provide Training Center students an online platform to document and report sexual assault. Callisto enables survivors to save a record of what happened to them, report sexual assault, identify repeat offenders, and find support. Please <a href="{{ protocol}}://{{ domain }}{% url 'activate_account' uidb64=uid token=token %}">log in to Callisto now</a> to activate your account should you ever want to use this service.
</p>
<p>
<b>HOW CALLISTO WORKS</b>
</p>
<p>
Callisto offers three distinct options for survivors: 1) to write a record what happened, 2) to enter their perpetrator’s information into a matching system, or 3) to send their record directly to the administration.
</p>
<p>
<b>WRITE:</b> You can create secure, encrypted, and time-stamped records about instances of sexual assault. Callisto allows you to save information immediately after an incident to preserve memories and evidence. This way, if and when you decide to come forward, UCB is better able to investigate what happened.
</p>
<p>
<b>MATCH:</b> You can help notify UCB about repeat offenders. Matching allows you to identify perpetrators using their unique Facebook URL or twitter URL, which is then sent to the school if another person enters the same perpetrator. After the match, you can then make the decision of whether or not you’d like to send your full record.
</p>
<p>
<b>REPORT:</b> You can send the saved record you have created directly to UCB. This means that the administration will have a full, detailed account of what happened before you even to meet with them.
</p>
<p>
You can save information about what happened privately and confidentially. However, if you choose to report to the UCB administration or enter a perpetrator into the matching system, you do need to identify yourself with an email address.
</p>
<p>
Anyone can use Callisto to learn about the process for reporting, find support services, and learn how to help a friend who has experienced sexual assault.
</p>
<p>
Go to <a href="{{ protocol}}://{{ domain }}{% url 'activate_account' uidb64=uid token=token %}">Callisto</a> now to activate your account. You can use Callisto at any time and on any device. If you have any questions, contact your Director of Support & Counseling, <a href="mailto:marissa@ucbcomedy.com">Marissa Tunis</a> in New York or <a href="mailto:shireen@ucbcomedy.com ">Shireen Oberman</a> in Los Angeles.
</p>
