Hello,
<p>
Someone requested that the password be reset for your Callisto account ({{ domain }}).
</p>
<p>
If you didn’t make this request, please ignore this email.
</p>
<p>
To reset your password, please click this link:<br/>
{{ protocol}}://{{ domain }}{% url 'reset_confirm' uidb64=uid token=token %}
</p>
<p>
If you have any questions, please contact Callisto at support@projectcallisto.org and someone will follow up with you as soon as possible.
</p>
<p>
Thank you, and take care,
</p>
<p>
The Callisto Team<br/>
{{ domain }}
