<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class='container'><div class='row'><div class='col-lg-offset-2 col-lg-8'><div class='jumbotron' style="margin-top: 10%; padding-top: 5px;">
    <div class='top'>
        <a class='close code-icon' href='https://github.com/project-callisto/callisto-core' title='source code on github' target='_blank'>
            <i class='fa fa-code'></i>
        </a>
        <a class='close home-icon' href='/' title='home page'>
            <i class='fa fa-home'></i>
        </a>
        <a class='close home-icon' href='/reports/dashboard' title='home page'>
            <i class="fa fa-address-book-o" aria-hidden="true"></i>
        </a>
        <h1>Callisto Core Example Site</h1>
    </div>

    <hr />
    {% block content %}{% endblock %}

    <footer style="padding-top: 50px;">A <a href='https://github.com/project-callisto'>Callisto</a> Project</footer>

</div></div></div></div>
