{% if form.non_field_errors|length > 1 %}
  <div class="has-error">
    <ul class="help-block field-error" role="alert">
        Errors:
        {% for error in form.non_field_errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
    </ul>
  </div>
{% elif form.non_field_errors|length == 1 %}
  <div class="has-error">
    <div class="help-block field-error" role="alert">
      Error: 
      {% for error in form.non_field_errors %}
        {{ error|escape }}
     {% endfor %} 
    </div>
  </div>
{% endif %}
