{% load wizard_builder %}

<div>
    <form method="POST" action="#" novalidate>
        {% csrf_token %}
        {% include 'callisto_core/delivery/errors.html' with errors=form.non_field_errors %}
        {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <span class='label'>{{{ field.label_tag }}{% if field.field.required %}*{% endif %}</span>
                <span class='errors'>{{% include 'callisto_core/delivery/errors.html' with errors=field.errors %}</span>
                <span class='field'>{{ field|add_aria_tags_to_field }}</span>
            </div>
        {% endfor %}
        <p class="help-block">* Indicates required field</p>
        <input class='btn btn-primary btn-block' type="submit" name="wizard_goto_step" value="Submit" />
    </form>
</div>
