{% if field %}
    {% with field.widget as widget %}
        {% include widget.template_name %}
    {% endwith %}

    {% comment "Optional note" %}
        the script handles showing / hiding the extra-widgets based on
        whether or not their input option is selected

        TODO: scope this jquery include to the following script tag somehow
    {% endcomment %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function extra_display(el) {
            var extra_widget = $('[for="{{ widget.attrs.id }}"] .extra-widget');
            if(el.checked) {
                extra_widget.show();
            } else {
                extra_widget.hide();
            }
        }
        $(document).ready(function() {
            $('#{{ widget.attrs.id }}').each(function(index, el) {
                extra_display(el);
                $(el).change(function() {
                    extra_display(el);
                });
            });
        });
    </script>

{% endif %}
