{% if field %}
    {% with field.widget as widget %}
        {% include widget.template_name %}
    {% endwith %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $('#{{ widget.attrs.id }}').each(function(index, el) {
            $(el).change(function() {
                var extra_widget = $(el).next('.extra-widget');
                if(el.checked) {
                    extra_widget.show();
                } else {
                    extra_widget.hide();
                }
            });
        })
    </script>
{% endif %}
