{% load i18n %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ wizard.form.media }}
    <input type="hidden" name="current_step" value="{{ wizard.current_step }}"/>

    {% if wizard.form.forms %}
        <input type="hidden" name="current_step" value="{{ wizard.current_step }}"/>
        {% for form in wizard.form.forms %}
            {% include "wizard_builder/wizard_fields.html" %}
        {% endfor %}
    {% else %}
        {% include "wizard_builder/wizard_fields.html" %}
    {% endif %}

    {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
    {% endif %}
    <input type="submit" name="submit" value="{% trans "submit" %}" />
</form>
