<form method="post" enctype="multipart/form-data" class="form-group">
    {% csrf_token %}
    <input type="hidden" name="current_step" value="{{ wizard.current_step }}"/>

    {% include "wizard_builder/wizard_fields.html" %}

    {% if wizard.steps.prev %}
        <input class='btn btn-primary' type="submit" name="wizard_goto_step" value="prev" />
    {% endif %}

    {% if wizard.steps.next %}
        <input class='btn btn-primary' type="submit" name="wizard_goto_step" value="next" />
    {% else %}
        <input class='btn btn-primary' type="submit" name="submit" value="submit" />
    {% endif %}
</form>
