{% load widget_tweaks %}
{% load wizard_builder %}

{% for field in form %}
    {% if not field|is_extra %}
        <div class="form-group
            {% if field.errors %}has-error{% endif %}
            {% if forloop.counter != 1 %}more_questions{% endif %}
        ">

        {% if not field|is_multiple_choice %}
            <label id='help-{{ field.id_for_label }}' class="help-block">
                {% if forloop.counter == 1 %}
                    <h2>{{ field.label }}</h2>
                {% else %}
                    <p class="help-label">{{ field.label }}</p>
                {% endif %}
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
            </label>
            {{ field|add_error_attr:"aria-invalid:true"|add_class:"form-control"|add_aria_tags_to_field }}
        {% else %}
                <fieldset>
                    <legend>
                        {% if forloop.counter == 1 %}
                            <h2>{{ field.label }}</h2>
                        {% else %}
                            <p class="help-label">{{ field.label }}</p>
                        {% endif %}
                        {% if field.help_text %}
                            <p class="help-block">{{ field.help_text }}</p>
                        {% endif %}
                    </legend>
                    {% for choice in field %}
                        {% with extra_field=form.extra_fields|lookup:choice.id_for_label %}
                            <div class={{field|get_field_type}}>
                                <div class="choice {% if extra_field %}extra-choice{% endif %}">
                                    <label for="{{choice.id_for_label}}">
                                        {{ choice.tag }}
                                        <span class="label-text">{{ choice.choice_label }}</span>
                                    </label>
                                    {% if extra_field %}
                                        {% for field in form %}
                                            {% if field.html_name == extra_field.extra_field_id %}
                                                <span id="{{extra_field.extra_field_id}}-wrapper" class="extra-wrapper" aria-hidden="true">
                                                    {{ field|label_with_classes:"control-label"}}
                                                    {{ field|add_error_attr:"aria-invalid:true"|add_class:"form-control"}}
                                                </span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </fieldset>
        {% endif %}

        {% if field.errors %}
            <span class="help-block" role="alert">{{ field.errors }}</span>
        {% endif %}
            </div>
    {% endif %}
{% endfor %}
