{% load widget_tweaks %}
{% load wizard_builder %}

{% for field in form %}
    <div class="form-group
        {% if field.errors %}has-error{% endif %}
        {% if forloop.counter != 1 %}more_questions{% endif %}
    ">

        {% if not field|is_multiple_choice %}
            <label id='help-{{ field.id_for_label }}' class="help-block">
                {% if forloop.counter == 1 %}
                    <h2>{{ field.label }}</h2>
                {% else %}
                    <p class="help-label">{{ field.label }}</p>
                {% endif %}
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
            </label>
            {{ field|add_error_attr:"aria-invalid:true"|add_class:"form-control"|add_aria_tags_to_field }}
        {% else %}
                <fieldset>
                    <legend>
                        {% if forloop.counter == 1 %}
                            <h2>{{ field.label }}</h2>
                        {% else %}
                            <p class="help-label">{{ field.label }}</p>
                        {% endif %}
                        {% if field.help_text %}
                            <p class="help-block">{{ field.help_text }}</p>
                        {% endif %}
                    </legend>
                    {{ field }}
                </fieldset>
        {% endif %}

        {% if field.errors %}
            <span class="help-block" role="alert">{{ field.errors }}</span>
        {% endif %}
    </div>
{% endfor %}
